<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mobile.phone.lock.mapper.LockInfoMapper">
    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>-->

        INSERT INTO lock_info
        (
        lock_no,
        insert_author,
        update_author
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.lock_no},
            #{item.insert_author},
            #{item.update_author}
            )
        </foreach>
    </insert>

    <select id="update" resultType="int" parameterType="java.util.Map">
        UPDATE lock_info
        <set>
            <if test="fee != null and fee != ''">`fee` = #{fee},</if>
            <if test="type != null and type != ''">`type` = #{type},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="end_time != null and end_time != ''">end_time = #{end_time},</if>
            <if test="update_author != null and update_author != ''">update_author = #{update_author},</if>
            <if test="update_time != null and update_time != ''">update_time = #{update_time},</if>
        </set>
        WHERE id = #{id}
    </select>

    <select id="listByLockInfo" parameterType="java.util.Map" resultType="java.util.Map">
        select a.* from lock_info a
        <where>
            <if test="state != null and state != ''">and a.`state` = #{state}</if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
            <if test="lock_no != null and lock_no != ''">and a.lock_no = #{lock_no}</if>
        </where>
    </select>
</mapper>