<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.mbkh.phone.lock.mapper.LockInfoMapper">
    <insert id="insert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        <!--<selectKey keyProperty="id" resultType="java.lang.Long">
            select last_insert_id()
        </selectKey>-->

        INSERT INTO lock_info
        (
        lock_no,
        address,
        latitude,
        longitude,
        qr_code_no,
        device_no,
        insert_author,
        update_author
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.lock_no},
            #{item.address},
            #{item.latitude},
            #{item.longitude},
            #{item.qr_code_no},
            #{item.device_no},
            #{item.user_id},
            #{item.user_id}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="java.util.Map">
        UPDATE lock_info
        <set>
            update_time = now(),
            <if test="lock_no != null and lock_no != ''">`lock_no` = #{lock_no},</if>
            <if test="address != null and address != ''">`address` = #{address},</if>
            <if test="latitude != null and latitude != ''">latitude = #{latitude},</if>
            <if test="longitude != null and longitude != ''">longitude = #{longitude},</if>
            <if test="qr_code_no != null and qr_code_no != ''">qr_code_no = #{qr_code_no},</if>
            <if test="device_no != null and device_no != ''">device_no = #{device_no},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="update_author != null and update_author != ''">update_author = #{update_author},</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="listByLockInfo" parameterType="java.util.Map" resultType="java.util.Map">
        select a.* from lock_info a
        <where>
            <if test="state != null and state != ''">and a.`state` = #{state}</if>
            <if test="status != null and status != ''">and a.status = #{status}</if>
            <if test="lock_no != null and lock_no != ''">and a.lock_no = #{lock_no}</if>
        </where>
    </select>

    <select id="getLockState" resultType="java.lang.String">
        select a.state from lock_info a where a.lock_no = #{lock_no}
    </select>

    <update id="updateLockState">
        UPDATE lock_info set state = #{state}, update_time = now() where lock_no = #{lock_no}
    </update>
</mapper>